{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>VisionSnap</title>
    <link rel="stylesheet" type="text/css" href="{% static 'VisionSnap/styles.css' %}">
</head>
<body>
    <header>
        <h1>Controls</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'controls' %}">Controls</a></li>
            <li><a href="{% url 'records' %}">Records</a></li>
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
        </ul>
    </nav>
    <main>
        <!-- Main content goes here -->
        <p>Controls Page</p>
    </main>
    <footer>
        <p>© <span id="currentYear"></span> Web Zone Guard. All rights reserved.</p>

        <script>
            // 取得當前的年份
            var currentYear = new Date().getFullYear();

            // 更新HTML中的年份
            document.getElementById("currentYear").textContent = currentYear;
        </script>

    </footer>
</body>
</html>
